<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Party Edit</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/styles.css}" href="/css/styles.css" />
</head>
<body>
<div>
    <div th:replace="fragments/header :: header">Hier komt de header</div>
    <div class="pageContent">
        <div class="row1">
            <div class="row1content" th:object="${party}">
                <h2 th:unless="${party != null}">Party onbekend</h2>
                <div th:if="${party != null}">
                    <form class="editForm" th:action="@{|/admin/partyedit/${party.id}|}" method="post">
                        <div class="editHeader">
                            <h2 th:text="|Party: ${party.name}|"/>
                            <a class="buttonLook headerButton" th:href="@{|/partydetails/${party.id}|}">Back</a>
                            <input class="buttonLook headerButton" type="submit" value="Save"/>
                        </div>
                        <div class="error" th:if="${#fields.hasErrors('*')}">ERROR - data is not saved</div>
                        <div class="infoLine">
                            <p th:text="|Name:|"/>
                            <input type="text" id="partyname" class="editfield" th:field="*{name}" th:errorclass="fieldError">
                        </div>
                        <div class="infoLine">
                            <p th:text="|Date:|"/>
                            <input type="date" th:field="*{date}" th:errorclass="fieldError"/>
                        </div>
                        <p th:text="|Venue:|"/>
                        <select name="venueID" th:value="|${party.venue.id}|">
                            <option th:each="venue, status: ${venues}" th:value="${venue.id}" th:text="${venue.venueName}"
                                    th:selected="${venue.id==party.venue.id}"></option>
                        </select>
                        <div class="infoLine">
                            <p th:text="|Price:|"/>
                            <input type="number" th:field="*{priceInEur}"/>
                            <p class="editEuroSign">€</p>
                        </div>
                        <div class="infoLine">
                            <p th:text="|Presale price:|"/>
                            <input type="number" th:field="*{pricePresaleInEur}"/>
                            <p class="editEuroSign">€</p>
                        </div>
                        <div class="infoLine">
                            <p th:text="|Doors:|"/>
                            <input type="time" th:field="*{doors}" th:errorclass="fieldError"/>
                        </div>
                        <div class="infoLine">
                            <p th:text="|Extra info:|"/>
                            <textarea class="editExtraInfo" th:field="*{extraInfo}" rows="10" cols="50">
                            </textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">Hier komt de footer</div>
</div>
</body>