:root {
    --foregroundColor: #EDC7CF;
    --mainBgColor: #6A8E7F;
    --secondBgColor: #D0CFEC;
    --textColor: #426D5C;
    --homeTitleSize:60px;
    --pageTitleSize: 30px;
    --paragraphSize: 16px;
    --footerTextSize:11px;
    --pageContentTopMargin: 150px;
    --pageContentLeftMargin: 40px;
    font-family: Bahnschrift, sans-serif;
}

body{
    margin: 0;
    background-color: var(--secondBgColor);
}

header{
    background-color: var(--mainBgColor);
    margin: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    padding-bottom: 20px;
}

footer{
    background-color: var(--mainBgColor);
    margin: 0;
    position: fixed;
    bottom: 0;
    padding-bottom: 10px;
    width: 100vw;
}

h1{
    color: var(--foregroundColor);
    font-size: var(--homeTitleSize);
    margin: 20px 40px;
}

h2{
    color: var(--textColor);
    font-size: var(--pageTitleSize);
    margin-bottom: 10px;
}

footer-text{
    color: var(--foregroundColor);
    font-weight: 200;
    font-size: var(--footerTextSize);
    margin-left: 40px;
}

p{
    color: var(--textColor);
    font-size: var(--paragraphSize);
    margin: 0;
}

img{
    margin: 0;
}

.navButtons {
    display: flex;
}

.buttonLook{
    background-color: var(--foregroundColor);
    color: var(--mainBgColor);
    text-decoration: none;
    text-align: center;
    box-shadow: 1px 1px 1px darkgrey;
}

.menuButton{
    display: block;
    margin: 0 10px;
    width: 9em;
    padding: 0.2em;
}

.mediumButton {
    display: block;
    margin: 10px 40px;
    width: 400px;
    font-size: 1.2em;
    padding: 1em;
}

.cycleButtons{
    display: flex;
}

.pageContent{
    margin-top:var(--pageContentTopMargin);
    margin-left:var(--pageContentLeftMargin);
}