<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Party Details</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/styles.css}" href="/css/styles.css" />
</head>
<body>
<div>
    <div th:replace="fragments/header :: header">Hier komt de header</div>
    <div class="pageContent">
        <div class="row1">
            <div class="row1content">
                <h2 th:unless="${party != null}">Party onbekend</h2>
                <div th:if="${party != null}">
                    <div class="partyHeader">
                        <a class="buttonLook headerButton" th:href="@{|/partydetails/${previd}|}">
                            <span>Prev</span>
                        </a>
                        <h2 th:text="|Party: ${party.name}|"/>
                        <a class="buttonLook headerButton" th:href="@{|/admin/partyedit/${party.id}|}">
                            <span>Edit</span>
                        </a>
                        <a class="buttonLook headerButton" th:href="@{|/partydetails/${nextid}|}">
                            <span>Next</span>
                        </a>
                    </div>
                    <div class="infoLine">
                        <p th:text="|Price:|"/>
                        <p th:unless="${party.priceInEur == null}" th:text="|${party.pricePresaleInEur} € (presale) /
                         ${party.priceInEur} €|"/>
                        <p th:if="${party.priceInEur == null}">Free Entrance</p>
                    </div>
                    <div class="infoLine">
                        <p th:text="|Date:|"/>
                        <p th:text="|${party.date}|"/>
                    </div>
                    <div class="infoLine">
                        <p th:text="|Doors:|"/>
                        <p th:text="|${party.doors}|"/>
                    </div>
                    <div class="infoLine">
                        <p th:text="|Venue:|"/>
                        <a th:href="@{|/venuedetails/${party.venue.id}|}" th:text="|${party.venue.venueName}|"/>
                    </div>
                    <h2>Line-up</h2>
                    <div th:if="${hasArtists}" class="partyartistlist">
                        <div th:each="artist, status: ${party.artists}">
                            <a class="buttonLook mediumButton" th:href="@{'/artistdetails/'+${artist.id}}">
                                <span th:text="${artist.artistName}">Artist name</span>
                            </a>
                        </div>
                    </div>
                    <div th:unless="${hasArtists}">
                        <p>No artists are known at this time</p>
                    </div>
                    <h2>Who goes?</h2>
                    <div th:if="${hasAnimals}" class="partyanimalslist">
                        <div th:each="animal, status: ${party.animals}">
                            <a class="buttonLook mediumButton" th:href="@{'/animaldetails/'+${animal.id}}">
                                <span th:text="${animal.name}">Animal name</span>
                            </a>
                        </div>
                    </div>
                    <div th:unless="${hasAnimals}">
                        <p>No animals are known to attend this party</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">Hier komt de footer</div>
</div>
</body>