<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Venue Details</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/styles.css}" href="/css/styles.css" />
</head>
<body>
<div>
    <div th:replace="fragments/header :: header">Hier komt de header</div>
    <div class="pageContent">
    <div class="row1">
        <div class="row1content">
            <div th:if="${venue.venueName}">
                <h2 th:text="|venue: ${venue.venueName}|">venue onbekend</h2>
                <!--<h2 th:if="${venue}" th:text="|venue: ${venue.venueName}|">venue: onbekend</h2>-->
                <div class="cycleButtons">
                <a class="buttonLook menuButton" th:href="@{|/venuedetails/${previndex}|}">Prev</a>
                <a class="buttonLook menuButton" th:href="@{|/venuedetails/${nextindex}|}">Next</a>
                </div>
            </div>
            <!--<p th:unless="${venue.venueName}">venue: onbekend</p>-->
            <!--
            Addition formatting problems: on addition integer is regarded as a string:

            <a th:href="@{|/venuedetails/${{venueindex - 1}}|}">Prev</a>
            <a th:href="@{|/venuedetails/${${venueindex} + 1}|}">Next</a>

            Alternative concatenation (same problem):

            <a th:href="@{'/venuedetails/' + ${venueindex - 1}}">Prev</a>
            <a th:href="@{'/venuedetails/' + ${venueindex - (-1)}}">Next</a>

            Best to calculate boundaries in java!
            -->
        </div>
    </div>
    </div>
    <div th:replace="fragments/footer :: footer">Hier komt de footer</div>
</div>
</body>