<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Venues</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/styles.css}" href="/css/styles.css" />
</head>
<body>
<div th:replace="fragments/header :: header">Hier komt de header</div>
<div class="pageContent">
<div class="row1">
    <h2>Venues</h2>
    <p class="info" th:text="|${numVenues} venues found|">Number of venues</p>
    <div class="filters">
        <a class="buttonLook filterButton" th:href="@{'/venuelist/'+${filter}}"
           th:text="${filter=='hide' ? '-' : '+'}">-</a>
        <div class="filters" th:if="${filter=='hide'}">
            <form>
                <div class="onefilter">
                    <input type="submit" value="search" class="buttonLook">
                </div>
                <h3>capacity</h3>
                <div class="onefilter">
                    <label for="minCapacity" class="filtername">min</label>
                    <input type="number" id="minCapacity" name="minimumCapacity" value="0" step="50" min="0"> <span>persons</span>
                    <label for="maxCapacity" class="filtername">max</label>
                    <input type="number" id="maxCapacity" name="maximumCapacity" value="10000" step="50" min="0"> <span>persons</span>
                </div>
                <h3>Distance to public transport</h3>
                <div class="onefilter">
                    <label for="maxDistance" class="filtername">max</label>
                    <input type="number" id="maxDistance" name="maximumDistance" value="10" step="1" min="0"> <span>km</span>
                </div>
                <h3>Food provided</h3>
                <div class="onefilter">
                    <label for="foodProvidedYes" class="filtername">yes</label>
                    <input type="radio" id="foodProvidedYes" name="foodProvided" value="yes">
                    <label for="foodProvidedNo" class="filtername">no</label>
                    <input type="radio" id="foodProvidedNo" name="foodProvided" value="no">
                    <label for="foodProvidedAll" class="filtername">all</label>
                    <input type="radio" id="foodProvidedAll" name="foodProvided" value="all" checked="checked">
                </div>
            </form>
        </div>
    </div>
    <div class="row1content">
            <div class="venuelist">
                <div th:each="venue, status: ${venues}">
                    <a class="buttonLook mediumButton" th:href="@{'/venuedetails/'+${status.index + 1}}">
                        <span th:text="${venue.getVenueName()}">Venue name</span>
                        <span class="info buttonInfo" th:text="|Capacity: ${venue.capacity}|"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer">Hier komt de footer</div>
</body>
</html>

