<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/styles.css}" href="/css/styles.css" />
</head>
<body>
<div th:replace="fragments/header :: header">Hier komt de header</div>
<a th:href="@{/venuedetails/eersteLocatie}">eersteLocatie</a>
<a th:href="@{/venuedetails/tweedeLocatie}">tweedeLocatie</a>
<a th:href="@{/venuedetails/derdeLocatie}">derdeLocatie</a>
<div th:replace="fragments/footer :: footer">Hier komt de footer</div>
</body>
</html>